* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 4rem 1rem;
    color: white;
    background-image: url('assets/worldmap.png');
    background-size: cover;
    background-position: 30% center;
}

header h1 {
    font-family: "Big Shoulders", sans-serif;
    margin: 0;
    margin-top: 1rem;
    font-size: 3.2rem;
    color: #32CD32;
}

header p {
    margin: 0;
    margin-bottom: 20px;
}

.logo {
    width: 25%;
    max-width: 110px;
}

main {
    display: flex;
    flex-direction: column;
    height: 60vh;
    margin: 3rem 1rem 0;
    border: 5px solid black;
    border-radius: 30px;
    overflow: hidden;
}

.chat-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
    padding-top: 3rem;
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 70%;
    width: 100%;
}

.chat-container::-webkit-scrollbar {
    width: 0px;
}


.chat {
    padding: 1rem;
}

.chat h1 {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: left;
    font-size: 1.3rem;
    font-weight: bold;
}

.bot {
    align-self: flex-start; 
    background-color: #035A9D;
    border-radius: 0 15px 15px 15px;
    color: white;
}

.user {
    align-self: flex-end;
     background-color: #65DA65;
     border-radius: 15px 0 15px 15px;
     color: #333333;
}

.input-area {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 1.5rem;
}


.send-btn {
    position: absolute; 
    right: 15px; 
    top: 50%; 
    transform: translateY(-50%);
    bottom: auto;
    margin: 0;
    
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-btn svg {
    width: 30px; 
    height: 30px;
    
    fill: #32CD32; 
    transform: rotate(45deg); 
    transition: transform 0.2s ease, fill 0.2s ease;
}

.send-btn:hover svg {
    fill: #28a428; 
    transform: rotate(45deg) scale(1.1); 
}

.send-btn:active, .send-btn:focus {
    outline: none; 
    border: none; 
    transform: translateY(-50%); 
}
.chat-input {
    height: 80px;
    width: 100%;
    background-color: #F5F5F5;
    border: 1px solid #333333;
    border-radius: 7px;
    padding: 1rem 60px 1rem 1rem;
    margin: 0;
    font-size: 1.3rem;
    
    resize: none;
    font-family: inherit; 
    outline: none
}

.chat-input::-webkit-scrollbar {
    width: 0;
}


.flag-container {
    display: flex;
    justify-content: center; 
    gap: 1.5rem; 
    padding: 1rem;
    background-color: white; 
}


.flag {
    width: 50px;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
    
    border: 3px solid transparent; 
    
    transition: transform 0.2s, border-color 0.2s;
}

img[src="assets/jpn-flag.png"] { 
   
    border-color: #e0e0e0; 
}

.flag.selected {
    border-color: blue !important; 
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

@media (min-width: 600px) {
    main {
        width: 50vw;
        margin: 2rem auto 0;
    }
}